<!DOCTYPE html>
<html lang="en">
<head>
	<title>JOB-ROLE-PREDICTION</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
  <link href="{{url_for('static', filename='css/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/prettyPhoto.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static', filename='loginfront/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginfront/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginfront/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginfront/vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginfront/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginfront/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginfront/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginfront/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{{url_for('static', filename='loginfront/images/img-01.png')}}" alt="IMG">
				</div>

				<!-- <form action="{{ url_for('login')}}" method="POST" class="login100-form validate-form">
					<span class="login100-form-title">
						Login here
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							 Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
						 Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="/register">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form> -->
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Login</legend>
						
						<div class="form-group">
							{{ form.email.label(class="form-control-label") }}
							{% if form.email.errors %}
			
							{{ form.email(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span> {{ error }} </span>
								{% endfor %}
			
							</div>
							{% else %}
			
							{{ form.email(class="form-control form-control-lg is-valid") }}
			
							{% endif %}
			
						</div>
						
						<div class="form-group">
							{{ form.password.label(class="form-control-label") }}
							{% if form.password.errors %}
			
							{{ form.password(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span> {{ error }} </span>
								{% endfor %}
			
							</div>
							{% else %}
			
							{{ form.password(class="form-control form-control-lg is-valid") }}
			
							{% endif %}
			
						</div>
						<div class="form-check">
							{{ form.remember(class='form-check-input') }}
							{{ form.remember.label(class='form-check-label') }}
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info")}}
					</div>
					
				</form>
				<div class="border-top pt-3">
					<small class="text-muted">
						Need To Create An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
					</small>
				</div>
			</div>
		</div>
	</div>
	

  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="social">
            <ul class="social-share">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/.container-->
  </div>
  <!--/.top-bar-->

  <footer id="footer" class="midnight-blue">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; AJS. All Rights Reserved.
          
        </div>
        <div class="col-sm-6">
          <ul class="pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!--/#footer-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.prettyPhoto.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.isotope.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

	
<!--===============================================================================================-->	
	<script src="{{url_for('static', filename='loginfront/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginfront/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='loginfront/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginfront/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginfront/vendor/tilt/tilt.jquery.min.js')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginfront/js/main.js')}}"></script>


<script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
 

</body>
</html>